html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

---------------------------

html {
    color: #000000;
    font-size: 24px;
}

.nounderlinelink a {text-decoration:none;}

h1 a {
    text-align: center;
    display: flex;
    justify-content: space-around;
    color: #000000;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 4vw;
}

nav a {text-decoration:none;
    color: #ffffff;}

nav {
    font-weight:600;
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-size: 2vw;
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 1em;}

header {
border-bottom: solid;
padding: 1em;
background-color: rgb(255, 255, 255);}

body {
    background-image: url("webbg.svg");
    background-color: #dce4e6ff;
    background-size: 100%;
    background-repeat: repeat-y;
}

main {
    font-family: Helvetica, Arial, sans-serif;
    margin: 2em;
}

h2 {font-size: 4vw;
  margin-top: 2vw}

h3 {font-size: 2vw;
  margin-top: 1vw}

p {margin-top: 2vw;
    font-size: 1.5vw;
    max-width: 84vw;
    text-indent: 5%;
}

.Lists {margin-top: 2vw;
  font-size: 24px;
  max-width: 84vw;}
footer {
    
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    display: flex;
    justify-content: space-around;}

.videoembed {
  margin-top: 2vw;
  max-width: 84vw;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 1vw;

}

@media (max-width: 480px) {h1 a {font-size: 200%;}nav {font-size: 200%;}}


.MBTA-sign {
  text-transform:uppercase;
  font-family:"Helvetica Neue",Arial,Verdana,sans-serif;
  font-weight:bold;
  display:flex;
  flex-direction:column;
  width:95vw;
  margin:3rem auto;
  border:black .15rem solid;
}
.T-top {
  text-align:center;
  font-size:3rem;
  color:white;
}
.T-bottom {
  display:flex;
  font-size:calc(3 * .7rem);
  justify-content:center;
  padding:0 .5rem;
  background:white;
}
.Tb-left {
  width:50%;
}
.Tb-right {
  width:50%;
  text-align:right;
}
.bubble {
  background:#ED8B00;
  font-size:calc(2.1 * .75rem);
  color:white;
  border-radius:25px;
  padding:0 1rem;
  margin:.25rem .15rem;
}
.T-iconL {
  vertical-align:-3px;
  margin-right:.5rem;
}
.T-iconR {
  vertical-align:-3px;
  margin-left:.5rem;
}
.T-bottom + .T-bottom {
  border-top:2px gray solid;
}

#blue {
  background:#003DA5;
}
#red {
  background:#DA291C;
}
#orange {
  background:#ED8B00;
}
#green {
  background:#00843D;
}
#white {
  background:white;
  color:black;
  border-bottom:2px gray solid;
}
#silver {
  background:#7C878E;
}
#commuter {
  background:#80276C;
}
  #bus {
    background:#FFC72C;
}
#amtrak {
  background:#005983;
}

img {
  border-radius: 10%;
  margin-top: 1vw;
  width: 30%;
  border: 2px solid #555;}

.photos {
  max-width: 84vw;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1vw;
  
  ;}